@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		position: fixed;
		overflow: hidden;
		-webkit-font-smoothing: antialiased;
		position: fixed;
		width: 100vw;
		height: 100vh;
		max-width: 100%;
		max-height: 100vh;
		transform: translateZ(0);
		text-rendering: optimizeLegibility;
		touch-action: manipulation;
		-webkit-user-drag: none;
		-ms-content-zooming: none;
		word-wrap: break-word;
		overscroll-behavior-y: none;
		text-size-adjust: none;
		margin: 0;
		padding: 0;
		-webkit-tap-highlight-color: transparent;
	}
	/* Prevents an effect on ios after long pressing on 
		an anchor tag you can drag it around */
	a { -webkit-user-drag: none; }

	.main-wrapper {
		width: 100vw;
		height: 100vh;
		overflow-y: none;
		-webkit-overflow-scrolling: touch;
		/* enables “momentum” (smooth) scrolling */
		/* mustn't scroll on main wrapper as pulls up background colors incorrectly */
		overscroll-behavior-y: none;
		text-size-adjust: none;
	}
}